{% extends 'employees/base.html' %} 
{% load static %}


{% block content %}
{% url 'employee-create' as create_url %}
{% include "employees/partials/create_modal.html" with form_title="Create new employee" %}
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="table-lightdark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imie</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Stanowisko</th>
        <th scope="col">Wypłata miesięczna</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr class="clickable-row" data-href="{% url 'employee-details' employee.pk %}">
        <th scope="row">{{ forloop.counter }}.</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.surname }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.month_salary }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message.tags }}</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <form action="{% url 'enployee-file-upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="employee_csv">Upload csv file here</label>
    <input id="employee_csv" type="file" name="employee_file" />
    <button type="submit" class="btn btn-info">Upload!</button>
  </form>
</div>

<button 
  type="button" 
  class="btn btn-success fixed-bottom button-add" 
  data-toggle="modal" 
  data-target="#createModal"
>
  <i class="bi bi-plus-circle-fill"></i> Dodaj pracownika
</button>
{% endblock content %}
