{% extends 'employees/base.html' %} 
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "employees/css/employees.css" %}">
{% endblock css_files %}

{% block content %}

{% include "employees/partials/employee_nav.html" with type="details" %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Imie: {{ employee.name }}</p>
      <p>Nazwisko: {{ employee.surname }}</p>
    </div>
    <div class="col-md-6">
      <p>Stanowisko: {{ employee.position }}</p>
      <p>Wypłata: {{ employee.month_salary }}</p>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-info">Edytuj</button>
        <button type="button" class="btn btn-danger">Usuń</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js_files %}
{% endblock js_files %}