{% extends 'employees/base.html' %} 
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "employees/css/employees.css" %}">
{% endblock css_files %}

{% block content %}
{% include "employees/partials/employee_nav.html" with type="tasks" %}
<ul>
  {% for task in task_list %}
  <li>{{ task.title }}</li>
  {% empty %}
  <li>Sorry, no tasks in this list. Create one!</li>
  {% endfor %}
</ul>
<button 
  type="button" 
  class="btn btn-success fixed-bottom button-add" 
  data-toggle="modal" 
  data-target="#createEmployee"
>
  <i class="bi bi-plus-circle-fill"></i> Utwórz taska
</button>
{% endblock content %}

{% block js_files %}
{% endblock js_files %}