<div class="modal fade" id="confirmModal{{ forloop.counter }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="confirmModal{{ forloop.counter }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModal{{ forloop.counter }}Label">Usuń zadanie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Jesteś pewien ze chcesz usunąć to zadanie?
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url 'task-delete' employee.pk task.pk %}">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
          <input type="submit" class="btn btn-danger" value="Tak" />
        </form>
      </div>
    </div>
  </div>
</div>